div#headline {
  margin-bottom: 30px;
}

a#get-server {
  margin-right: 15px;
}

img.nexus-5x {
  height: 600px;
}

div#nexus-demo-container {
  text-align: center;
}


@media (min-width: 1024px) {
  .top-spacing {
    padding-top: 60px;
  }
}

@media (max-width: 1023px) {
  div#headline, div#title, div#get-buttons-container {
    text-align: center;
  }

  img.nexus-5x {
    width: 100%;
    height: auto;
  }
}